<article class="new-page">
  <section class="new-form-page">
    <div class="form-heading">
      <h2>Add Comment</h2>
    </div>
    <div class="form-section">
      <form class="comment-form">
        <div class="comment-description">
          <label for="comment-description">Comment</label>
          <br />
          <textarea
            class="entry-field"
            id="comment-description"
            name="comment-description"
          ></textarea>
        </div>
        <button type="submit" class="comment-btn btn btn-primary">Submit Comment</button>
      </form>
    </div>
  </section>
</article>

<script src="/js/create-comment.js"></script>