<!-- Loop over each object in the projects array -->
{{#each blogs as |blog|}}
  <div class="row mb-4 project">
    <div class="col-md-5">
      <p>Created by {{blog.user.name}}</p>
      <p>{{blog.title}} on {{blog.date_created}}</p>
    </div>
    <div class="col-md-7">
      <p>{{blog.description}}</p>
    </div>
  </div>
{{/each}}